﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Site.Master" CodeBehind="AdminDetailViewControl.aspx.vb" Inherits="Project_Skeleton___Web_Forms.AdminDetailViewControl" %>
<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>

<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<form id="Form2" action="AdminDetailViewControl.aspx">

    <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>



    <asp:AccessDataSource id="UsersSource" Runat="Server"
      DataFile="App_Data\MyUsers.mdb"
  
      SelectCommand="SELECT * FROM [Users]"
      InsertCommand="INSERT INTO [Users] ([ID], [Username], [Password], [Admin]) VALUES (?, ?, ?, ?)"
      UpdateCommand="UPDATE [Users] SET [Username] = ?, [Password] = ?, [Admin] = ? WHERE (([ID] = ?) OR ([ID] IS NULL AND ? IS NULL))"
      DeleteCommand="DELETE FROM [Users] WHERE (([ID] = ?) OR ([ID] IS NULL AND ? IS NULL))"
    >
        <DeleteParameters>
            <asp:Parameter Name="ID" Type="Int32" />
        </DeleteParameters>
        <InsertParameters>
            <asp:Parameter Name="ID" Type="Int32" />
            <asp:Parameter Name="Username" Type="String" />
            <asp:Parameter Name="Password" Type="String" />
            <asp:Parameter Name="Admin" Type="Boolean" />
        </InsertParameters>
        <UpdateParameters>
            <asp:Parameter Name="Username" Type="String" />
            <asp:Parameter Name="Password" Type="String" />
            <asp:Parameter Name="Admin" Type="Boolean" />
            <asp:Parameter Name="ID" Type="Int32" />
        </UpdateParameters>
        </asp:AccessDataSource>

    <p>
        &nbsp;</p>
    &nbsp;<h3>Administrator Tasks</h3>

    <asp:Label id="EditMSG" ForeColor="Red" Runat="Server"
    EnableViewState="False" Text=" "/>

    <asp:DetailsView id="EditView" DataSourceID="UsersSource" Runat="Server"
      AutoGenerateEditButton="True"
      AutoGenerateDeleteButton="True"
      AutoGenerateInsertButton="True"
      OnItemUpdated="Display_Updated_Msg"
      OnItemDeleted="Display_Deleted_Msg"
      OnItemInserted="Display_Inserted_Msg"
      AllowPaging="True"
      RowStyle-Font-Size="10pt"
      RowStyle-VerticalAlign="Top" AutoGenerateRows="False" DataKeyNames="ID"
    >
    <RowStyle VerticalAlign="Top" Font-Size="10pt"></RowStyle>
        <Fields>
            <asp:BoundField DataField="ID" HeaderText="ID" ReadOnly="True" 
                SortExpression="ID" />
            <asp:BoundField DataField="Username" HeaderText="Username" 
                SortExpression="Username" />
            <asp:BoundField DataField="Password" HeaderText="Password" 
                SortExpression="Password" />
            <asp:CheckBoxField DataField="Admin" HeaderText="Admin" SortExpression="Admin" />
        </Fields>
    </asp:DetailsView>
</form>


</asp:Content>
