﻿<%@ Page Title="Home Page" Language="vb" MasterPageFile="~/Site.Master" AutoEventWireup="false"
    CodeBehind="Default.aspx.vb" Inherits="Project_Skeleton___Web_Forms._Default" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <h2>
        Welcome to My Website!
    </h2>
   
    <p>
           &nbsp;</p>
    <p>
           &nbsp;</p>
    <p>
           &nbsp;</p>
    <p>
           &nbsp;</p>
    <p>
           &nbsp;</p>
    <p>
           &nbsp;</p>
    <p>
           &nbsp;</p>
    <p>
           &nbsp;</p>
    <p>
           &nbsp;</p>
    <p>
           <a href="LoginAndRegistration.aspx"
            title="LoginAndRegistration.aspx">Admin Only</a>
    </p>
</asp:Content>
