﻿<%@ Page Language="vb"  %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<SCRIPT Runat="Server">
    Sub Page_Load()
        Dim Firstname As String = Session("Fname")
        Label1.Text = "Hello " & Firstname
    End Sub
    
Sub Display_Updated_Msg (Src As Object, Args As DetailsViewUpdatedEventArgs)
  EditMSG.Text = "Record " & Args.Keys("ID") & " updated"
End Sub

Sub Display_Deleted_Msg (Src As Object, Args As DetailsViewDeletedEventArgs)
  EditMSG.Text = "Record " & Args.Keys("ID") & " deleted"
End Sub

Sub Display_Inserted_Msg (Src As Object, Args As DetailsViewInsertedEventArgs)
  EditMSG.Text = "Record " & Args.Values("ID") & " added"
End Sub

</SCRIPT>
<html>
<form id="Form2" Runat="Server">

<asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>

</br>

&nbsp;
<asp:AccessDataSource id="UsersSource" Runat="Server"
  DataFile="App_Data\MyUsers.mdb"
  
  SelectCommand="SELECT * FROM [Users]"
  InsertCommand="INSERT INTO USERS ([ID],[Username], [Password]) VALUES (@ID, @Username, @Password)"
  UpdateCommand="UPDATE USERS SET [Username]=@Username, [Password]= @Password WHERE [ID] = @ID"
  DeleteCommand="DELETE FROM USERS WHERE [ID]=@ID"
/>

<p>
    &nbsp;</p>
&nbsp;<h3>Administrator Tasks</h3>

<asp:Label id="EditMSG" ForeColor="Red" Runat="Server"
EnableViewState="False" Text=" "/>

<asp:DetailsView id="EditView" DataSourceID="UsersSource" Runat="Server"
  AutoGenerateEditButton="True"
  AutoGenerateDeleteButton="True"
  AutoGenerateInsertButton="True"
  OnItemUpdated="Display_Updated_Msg"
  OnItemDeleted="Display_Deleted_Msg"
  OnItemInserted="Display_Inserted_Msg"
  AllowPaging="True"
  RowStyle-Font-Size="10pt"
  RowStyle-VerticalAlign="Top" AutoGenerateRows="False" DataKeyNames="ID"
>
<RowStyle VerticalAlign="Top" Font-Size="10pt"></RowStyle>
    <Fields>
        <asp:BoundField DataField="ID" HeaderText="ID" ReadOnly="True" 
            SortExpression="ID" />
        <asp:BoundField DataField="Username" HeaderText="Username" 
            SortExpression="Username" />
        <asp:BoundField DataField="Password" HeaderText="Password" 
            SortExpression="Password" />
    </Fields>
</asp:DetailsView>
</form>
</html>

