﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="ReadingFromXMLFile.aspx.vb" Inherits="Project_Skeleton___Web_Forms.ReadingFromXMLFile" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<form id="form2" runat="server">
<div>    
<asp:XmlDataSource ID="XmlDataSource1" runat="server" DataFile="~/App_Data/XMLFile1.xml">    
</asp:XmlDataSource>    
</div>
 <asp:GridView runat="server" ID="Gridview1" AutoGenerateColumns="False" 
    CellPadding="4" DataSourceID="XmlDataSource1">
     <Columns>
         
         <asp:BoundField DataField="comment" HeaderText="Testimonials" SortExpression="comments" />
     </Columns>
</asp:GridView>
</form>

