﻿/* DEFAULTS
----------------------------------------------------------*/

html, 
body {min-height:100%; padding:0; margin:0;}

body {
    background: #64b4f7;
    background-image: url('/Images/bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    color: #ffffff;
}

a:link, a:visited {
    color: #e7f3ab;
}

a:hover {
    color: #ffed1d;
    text-decoration: none;
}

a:active {
    color: #f37903;
}

p {
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    color: #ffffff;
    text-transform: none;
    font-weight: 100;
    margin-bottom: 0px;
}

h1 {
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2 {
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/*
html, 
body {min-height:100%; padding:0; margin:0;}

#wrapper {padding:50px 0; position:absolute; top:0; bottom:0; left:0; right:0;}
#content {min-height:100%; background-color:green;}
header {margin-top:-50px; height:50px; background-color:red;}
footer {margin-bottom:-50px; height:50px; background-color:red;}
p {margin:0; padding:0 0 1em 0;}
*/

.page {
    width: 960px;

    border: 0px solid #ffffff;

    padding: 271px 0 100px 0; 
    position: absolute; 
    top:0; bottom:0; left:0; right:0;
    margin: 0px auto 0px auto;

}

.header {
    width:960px;
    color: #ffffff;
    float:left;
    background-color: rgba(23, 6, 32, 0.70);
    /*background-color: rgba(75, 108, 158, 0.50); */
    margin-top: -271px; height: 271px;
}

    .header h1 {
        font-weight: 700;
        margin: 0px;
        padding: 0px 0px 0px 0px;
        color: #ffffff;
        border: none;
        line-height: 2em;
        font-size: 2em;
    }

.main {
    padding: 20px;
    margin: 0px 0px 0px 0px;
    top:0; bottom:0; left:0; right:0;
    background-color: rgba(75, 108, 158, 0.95); 
    min-height: 100%;
}

.leftCol {
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer {
    width: 100%;
    color: #ffffff;
    text-align: center;
    line-height: normal;
    background-color: #170621;

    margin-bottom: -100px;
    height: 60px;
}

list {
    width: 50%;
    padding: 10px;
    position: relative; 
    margin: 0px auto 0px auto;

}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink {
    /*background-color: rgba(75, 108, 158, 0.35); */
    width: 960px;
    height: 30px;
    }

div.menu {
    padding: 0px 0px 0px 0px;
}

    div.menu ul {
        list-style: none;
        padding: 0px;
        width: 830px;
    }

        div.menu ul li a, div.menu ul li a:visited {
            background-color: rgba(75, 108, 158, 0.45); 
            border: 0px #e7f3ab solid;
            color: #dde4ec;
            display: block;
            line-height: 1.35em;
            padding: 4px 20px;
            text-decoration: none;
            white-space: nowrap;
        }

            div.menu ul li a:hover {
                background-color: #bfcbd6;
                color: #465c71;
                text-decoration: none;
            }

            div.menu ul li a:active {
                background-color: #4B6C9E;
                color: #cfdbe6;
                text-decoration: none;
            }

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset {
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

    fieldset p {
        margin: 2px 12px 10px 10px;
    }

    fieldset.login label, fieldset.register label, fieldset.changePassword label {
        display: block;
    }

    fieldset label.inline {
        display: inline;
    }

legend {
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry {
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry {
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo {
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear {
    clear: both;
}

.title {
    display: block;
    float:left;
    text-align: left;
    width: auto;
    margin: 5px auto 0px auto;
    height: 215px;
    vertical-align:middle;
    padding: 5px;
}

.loginDisplay {
    font-size: 1.1em;
    display: block;
    text-align: left;
    padding: 10px;
    color: White;
    height: 215px;
    width:auto;
}

    .loginDisplay a:link {
        color: white;
    }

    .loginDisplay a:visited {
        color: white;
    }

    .loginDisplay a:hover {
        color: white;
    }

.failureNotification {
    font-size: 1.2em;
    color: Red;
}

.bold {
    font-weight: bold;
}

.submitButton {
    text-align: right;
    padding-right: 10px;
}
